<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Reorganizing_MemberTypeFields" serializeAs="String">
                <value>Fields||3||字段</value>
            </setting>
            <setting name="Reorganizing_MemberTypeProperties" serializeAs="String">
                <value>Properties||4||属性</value>
            </setting>
            <setting name="Reorganizing_MemberTypeMethods" serializeAs="String">
                <value>Methods||9||方法</value>
            </setting>
            <setting name="Reorganizing_MemberTypeDelegates" serializeAs="String">
                <value>Delegates||1||委托</value>
            </setting>
            <setting name="Reorganizing_MemberTypeEvents" serializeAs="String">
                <value>Events||2||事件</value>
            </setting>
            <setting name="Reorganizing_MemberTypeInterfaces" serializeAs="String">
                <value>Interfaces||8||接口</value>
            </setting>
            <setting name="Reorganizing_MemberTypeConstructors" serializeAs="String">
                <value>Constructors||6||构造函数</value>
            </setting>
            <setting name="Reorganizing_MemberTypeEnums" serializeAs="String">
                <value>Enums||10||枚举</value>
            </setting>
            <setting name="Reorganizing_MemberTypeDestructors" serializeAs="String">
                <value>Destructors||7||析构函数</value>
            </setting>
            <setting name="Reorganizing_MemberTypeIndexers" serializeAs="String">
                <value>Indexers||5||索引器</value>
            </setting>
            <setting name="Reorganizing_MemberTypeClasses" serializeAs="String">
                <value>Classes||12||类</value>
            </setting>
            <setting name="Reorganizing_MemberTypeStructs" serializeAs="String">
                <value>Structs||11||结构体</value>
            </setting>
            <setting name="Reorganizing_RegionsInsertNewRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_RegionsRemoveExistingRegions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Digging_PrimarySortOrder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reorganizing_RegionsIncludeAccessLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_Font" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="Reorganizing_ReverseOrderByAccessLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_ExplicitMembersAtEnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_Theme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Cleaning_AutoSaveAndCloseIfOpenedByCleanup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Collapsing_CollapseSolutionWhenOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Collapsing_KeepSoloProjectExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_RemoveEndOfFileTrailingNewLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertEndOfFileTrailingNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforePropertiesSingleLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeFieldsSingleLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Feature_SettingCleanupOnSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Finding_TemporarilyOpenSolutionFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progressing_HideBuildProgressOnBuildStop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Feature_FindInSolutionExplorer" serializeAs="String">
                <value>False</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>
